body {
  background-color: rgb(253, 251, 251);
  font-size: 18px;
  color: rgb(15, 17, 13);
  font-family: Helvetica, sans-serif;
}

#minha_foto {
  margin-top: 90px;
  width: 300px;
}

#cabecalho {
  position: fixed;

}

aside {
  width: 40%;
  float: right;
  background-color: rgb(143, 188, 153);
}
